{
	"prefix": "tron",
	"debugServer": "",
	"twitch_clientid": "",
	"youtubeKey": "",
	"steamKey": "",
	"gdrive_service_account": {
	    "type": "",
	    "project_id": "",
	    "private_key_id": "",
	    "private_key": "",
	    "client_email": "",
	    "client_id": "",
	    "auth_uri": "",
	    "token_uri": "",
	    "auth_provider_x509_cert_url": "",
	    "client_x509_cert_url": ""
	},
	"folders": {
		"home": "/root/Tron",
		"logs": "/root/Tron/logs",
		"lib": "/root/Tron/lib",
		"models": "/root/Tron/lib/models",
		"commands": "/root/Tron/cmds",
		"watchers": "/root/Tron/watchers",
		"events": "/root/Tron/lib/events",
		"functions": "/root/Tron/lib/functions"
	},
	"pm2": "false"
} 
